:root {
    --layout-border-radius: 15px;
}
.wrapper {
    position: relative;
    overflow-x: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 24px 12px;
}
.content {
    overflow: hidden;
}
.header {
    background: var(--bg-primary);
    border-top-right-radius: var(--layout-border-radius);
    border-top-left-radius: var(--layout-border-radius);
}
.logo {
    padding: 15px;
    display: inline-flex;
    img {
        max-height: 50px;
        width: 100%;
        object-fit: contain;
    }
}
.main {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-right-radius: var(--layout-border-radius);
    border-bottom-left-radius: var(--layout-border-radius);
    padding: 20px 15px 15px 15px;
}
